<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Usamos boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <style>

#header {
      width: 100%;
      height: 35px;
      display: inline-block;
      background-color:darkslategrey;
    }

    #logotipo {
      display: inline-block;
      margin: auto;
      width: 50%;
      max-width: 100px;
      min-width: 30px;
    }

    #titulo {
      width: 50%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: floralwhite;
      text-align: left;
      font-weight: bold;
      vertical-align: middle;
      padding: 10px 20px;
  }

        form {
            /* Centrar el formulario en la página */
            margin: 0 auto;
            width: 1000px;
            /* Esquema del formulario */
            padding: 1em;
            border: 1px solid #CCC;
            border-radius: 1em;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        form li + li {
            margin-top: 1em;
        }

        label {
            /* Tamaño y alineación uniforme */
            display: inline-block;
            width: 85px;
            text-align: right;
            font-size: 12px;
        }

        input, textarea {
            /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
                Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
            font: 1em sans-serif;
            /* Tamaño uniforme del campo de texto */
            width: 350px;
            box-sizing: border-box;
            font-size: 13px;
            /* Hacer coincidir los bordes del campo del formulario */
            border: 1px solid #999;
        }

        select {
            width: 180px;
            font-size: 13px;
        }

        option {
            width: 170px;
            font-size: 13px;
        }

        textarea {
            /* Alinear los campos de texto multilínea con sus etiquetas */
            vertical-align: top;
            /* Proporcionar espacio para escribir texto */
            height: 6em;
            resize: none;
        }

        input:enabled {
            color: rgb(60, 73, 53);
        }

        input:disabled {
            color: rgb(103, 139, 132);
        }

        .btn-primary,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:visited,
        .btn-primary:focus {
            background-color: #0a8f3d;
            border-color: #0a8f3d;
        }

	</style>

    <title>IMSS Problematica - CDI / BIOMEDICO</title>
  </head>
  <body>

    <div id="container">
        <div id="header">
            <div id="titulo">PROBLEMATICA - CDI / BIOMEDICO</div>
        </div>
      </div>
  
    <% if (problema) { %>

    <div class="container mt-4">
        <div class="card border-success">
            <div class="card-header">Registro de Problematica CDI / BIOMEDICO</div>     
            <div class="card-body">
                <form name="editooad" action="/actualizaOOAD" method="POST" >

                    <div >
                        <input type="text" id="id" name="id" value="<%= problema.CVE_OOAD_PROBLEMATICA %>" hidden width="10px">
                        <input type="text" id="skill" name="skill" value="<%= problema.SKILL %>"  hidden width="10px">
                        <input type="text" id="cve_problematica" name="cve_problematica" value="<%= problema.CVE_PROBLEMATICA %>"  hidden width="10px">
                        <label for="problema" class="form-label">Clave OOAD: </label>
                        <input type="text" id="CLAVE_OOAD_PROBLEMATICA" name="CLAVE_OOAD_PROBLEMATICA" value="<%= problema.CVE_OOAD_PROBLEMATICA %>" readonly disabled="disabled" style="width:100px" tabindex="1"><br>
                    </div>

                    <div >
                        <label for="problema" class="form-label">Responsable: </label>
                        <input type="text" id="NOM_RESPONSABLE" name="NOM_RESPONSABLE" value="<%= problema.NOM_RESPONSABLE %>" readonly disabled="disabled" tabindex="2"><br>
                    </div>

                    <div >
                        <label for="problema" class="form-label">Descripción: </label>
                        <textarea type="text" id="DES_OTRO" name="DES_OTRO" tabindex="3"><%= problema.DES_OTRO %></textarea><br>
                    </div>

                    <div >
                        <label for="problema" class="form-label">OOAD: </label>
                        <input type="text" id="OOAD_NOMBRE" name="OOAD_NOMBRE" value="<%= problema.OOAD_NOMBRE %>" readonly disabled="disabled" tabindex="4"><br>
                    </div>

                    <div >
                        <label for="problema" class="form-label">Categoria: </label>                        
                        <select id="categoria" name="categoria" style="width:200px" onchange="cambiaCategoria()">
                            <option <%= problema.TIPO_PROBLEMATICA_NOMBRE=='Capital Humano' ? "selected" : '' %> value="1">Capital Humano</option>
                            <option <%= problema.TIPO_PROBLEMATICA_NOMBRE=='Infraestructura' ? "selected" : '' %> value="2">Infraestructura </option>
                            <option <%= problema.TIPO_PROBLEMATICA_NOMBRE=='Equipamiento' ? "selected" : '' %> value="3">Equipamiento </option>
                            <option <%= problema.TIPO_PROBLEMATICA_NOMBRE=='Seguridad' ? "selected" : '' %> value="4">Seguridad </option>
                            <option <%= problema.TIPO_PROBLEMATICA_NOMBRE=='Aplicaciones' ? "selected" : '' %> value="5">Aplicaciones</option>
                            <option <%= problema.TIPO_PROBLEMATICA_NOMBRE=='Administrativo' ? "selected" : '' %> value="6">Administrativo</option>
                            <option <%= problema.TIPO_PROBLEMATICA_NOMBRE=='Otros' ? "selected" : '' %> value="7">Otros</option>
                        </select>
                    </div>

                    <div >
                        <label for="problema" class="form-label">Sub tipo: </label>
                        <select id="subCategoria" name="subCategoria">
                            <option  value="<%= problema.CVE_SUBTIPO_PROBLEMATICA %>"> <%= problema.SUBTIPO_PROBLEMATICA_NOMBRE %> </option>
                        </select>
                    </div>

                    <div >
                        <label for="problema" class="form-label">Status: </label>
                        <select id="estado" name="estado" style="width:200px" >
                            <option <%= problema.STATUS=='Pendientes' ? "selected" : '' %> value="1">Pendientes</option>
                            <option <%= problema.STATUS=='En Atención' ? "selected" : '' %> value="2">En Atención</option>
                            <option <%= problema.STATUS=='Atendidas' ? "selected" : '' %> value="3">Atendidas</option>
                        </select>
                    </div>

                    <div >
                        <label for="problema" class="form-label">Nivel: </label>
                        <select id="nivel" name="nivel" style="width:200px" >
                            <option <%= problema.NIVEL=='No Aplica' ? "selected" : '' %> value="1">No Aplica</option>
                            <option <%= problema.NIVEL=='Sin Problemática' ? "selected" : '' %> value="2">Sin Problemática</option>
                            <option <%= problema.NIVEL=='Bajo' ? "selected" : '' %> value="3">Bajo</option>
                            <option <%= problema.NIVEL=='Medio' ? "selected" : '' %> value="4">Medio</option>
                            <option <%= problema.NIVEL=='Alto' ? "selected" : '' %> value="5">Alto</option>
                            <option <%= problema.NIVEL=='Crítico' ? "selected" : '' %> value="6">Crítico</option>
                        </select>
                    </div>

                    <div >
                        <label for="problema" class="form-label">Fecha alta: </label>
                        <input type="text" id="FEC_ALTA" name="FEC_ALTA" value="<%= problema.FEC_ALTA %>" readonly disabled="disabled" style="width:100px" tabindex="7"><br><br>
                    </div>
                    <a href="/cdi/OOADProblematicaSkill?skill=<%= problema.SKILL %>" class="btn btn-secondary" >Regresar</a>
                    <button type="submit" class="btn btn-primary" tabindex="8">Actualizar</button>     

                </form>
            </div>   
        </div>
    </div>

    <% } %>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <script type="text/javascript">
        // 1. Definir las variables correspondientes para Categoria
        var cat_1 = [{'clave': '-', 'descripcion': '-'}, 
                     {'clave': '1', 'descripcion': 'Capacitacion'}, 
                     {'clave': '2', 'descripcion': 'Movimientos de personal'}, 
                     {'clave': '3', 'descripcion': 'Otros'},]

        var cat_2 = [{'clave': '-', 'descripcion': '-'}, 
                     {'clave': '4', 'descripcion': 'Redes'},
                     {'clave': '5', 'descripcion': 'Telefonía'},
                     {'clave': '6', 'descripcion': 'Conmutadores'},
                     {'clave': '7', 'descripcion': 'Equipamiento nuevo (biométrico, impresoras, computo, proyector, pantalla)'},           
                     {'clave': '8', 'descripcion': 'Mantenimiento correctivo'},           
                     {'clave': '9', 'descripcion': 'Otros'},           
                     {'clave': '35', 'descripcion': 'Centro de contacto'},           
                     {'clave': '36', 'descripcion': 'Centro de datos Kio e IPICYT'},]

        var cat_3 = [{'clave': '-', 'descripcion': '-'}, 
                     {'clave': '10', 'descripcion': 'Computo'}, 
                     {'clave': '11', 'descripcion': 'Impresion'}, 
                     {'clave': '12', 'descripcion': 'Biometrico'},
                     {'clave': '13', 'descripcion': 'Refacciones y accesorios'},
                     {'clave': '14', 'descripcion': 'Robo o perdida de equipo'},
                     {'clave': '15', 'descripcion': 'Ensobretadoras, UPS y toner'},
                     {'clave': '16', 'descripcion': 'Otros'},]

        var cat_4 = [{'clave': '-', 'descripcion': '-'}, 
                     {'clave': '17', 'descripcion': 'VPN'}, 
                     {'clave': '18', 'descripcion': 'Ataque'}, 
                     {'clave': '19', 'descripcion': 'Acceso no autorizado a informacion'},
                     {'clave': '20', 'descripcion': 'Otros'},
                     {'clave': '37', 'descripcion': 'Herramientas Microsoft, DNS y Directorio Activo'},]

        var cat_5 = [{'clave': '-', 'descripcion': '-'}, 
                     {'clave': '21', 'descripcion': 'Medicos'}, 
                     {'clave': '22', 'descripcion': 'Pensiones'}, 
                     {'clave': '23', 'descripcion': 'Guarderias, tiendas, velatorios'},
                     {'clave': '24', 'descripcion': 'Incorporacion y recaudacion'},
                     {'clave': '25', 'descripcion': 'Personal'},
                     {'clave': '26', 'descripcion': 'Contabilidad'},
                     {'clave': '27', 'descripcion': 'Otros'},]

        var cat_6 = [{'clave': '-', 'descripcion': '-'}, 
                     {'clave': '28', 'descripcion': 'Contratos'}, 
                     {'clave': '29', 'descripcion': 'Auditorias'}, 
                     {'clave': '30', 'descripcion': 'Juridicos'},
                     {'clave': '31', 'descripcion': 'Presupuesto'},
                     {'clave': '32', 'descripcion': 'Solicitud de informacion transparencia'},
                     {'clave': '33', 'descripcion': 'Otros'},]

        var cat_7 = [{'clave': '-', 'descripcion': '-'}, {'clave': 'a', 'descripcion': 'Otros'},]


        // 2. Crear una funcion para ejecutar el cambio dinamico
        function cambiaCategoria(){
            var optCategoria;
            // Se toma el valor de la "categoria seleccionada"
            optCategoria = document.editooad.categoria[document.editooad.categoria.selectedIndex].value
            console.log('Value: ' + document.editooad.categoria[document.editooad.categoria.selectedIndex].value);
            console.log('DESCR: ' + document.editooad.categoria[document.editooad.categoria.selectedIndex].text);
            console.log('Entra a funcion cambiaCategoria: ' + optCategoria);
            // Se verifica si la cosa seleccionada esta definida
            if(optCategoria!=0){
                // Seleccionamos las cosas correctas. Se usa eval() para que la variable toma la referencia
                mis_opts=eval("cat_" + optCategoria);
                // Se calcula el numero de Sub Categorias
                num_opts=mis_opts.length;
                console.log('tamaño de SubCategoria: ' + num_opts);
                // Se marca el numero de opciones en el select
                document.editooad.subCategoria.length = num_opts;
                // Para cada opcion del array, se coloca en el select
                var ind = 0
                for (subCt of mis_opts) {
                    document.editooad.subCategoria.options[ind].value=subCt.clave;
                    document.editooad.subCategoria.options[ind].text=subCt.descripcion;
                    ind = ind + 1;
                }
            }else{
                // Si no hay opcion seleccianada, eliminamos las cosas del select
                document.editooad.subCategoria.length = 1;
                // Colocamos un "-" en la opcion que se ha dejado
                document.editooad.subCategoria.options[0].value = "-";
                document.editooad.subCategoria.options[0].text = "-";
            }
            // Se realiza un reset de las opts
            document.editooad.subCategoria.options[0].selected = true;
        }
</script>

  </body>
</html>